<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Mi API Examen 1</h1>
    <h4>Top 5 Movies</h4>

    <ul>
        {% for movie in data['topMovies'] %}
        <li>{{movie}}</li>
        {% endfor %}
    </ul>

    <table>
        <tr>
            <td>Movies</td>
            <td>Series</td>
        </tr>
        <tr>
            <td>{{data['series']}}</td>
            <td>{{data['movies']}}</td>
        </tr>
    </table>
</body>

</html>